<div class="container margin-top-70">
	<div class="row">
		<div class="col-md-6">
			<div class="forumform">
				<form role="form" name="forumform">
				<h1>Tab 1</h1>
					<div class="form-group">
						<label for="email">Label 1:</label>
						<input type="text" placeholder="Enter your label details" ng-required="true" ng-model="label1" class="form-control" id="email">
					</div>
					<div class="form-group">
						<label for="pwd">Label 2:</label>
						<input type="text" placeholder="Enter your label details" ng-required="true" ng-model="label2" class="form-control" id="pwd">
					</div>
					<div class="form-group">
						<label>Label 3</label>
						<input type="text" placeholder="Enter your label details" ng-required="true" ng-model="label3" class="form-control" />
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control" placeholder="Description" ng-required="true"></textarea>
					</div>

					<!-- Action buttons -->
					<button class="btn btn-forum">Save</button>
					<button class="btn btn-reset">Reset</button>
				</form>
			</div>
		</div>
	</div>
</div>